/* Variáveis */
/* ----------------------------------------- */
/* ----------------------------------------- Variáveis *//* Global */
/* ----------------------------------------- */
body {
  color: white;
}
/* ----------------------------------------- Global *//* Header */
/* ----------------------------------------- */
#navmenu {
  margin-top: 70px;
}
#navmenu ul.navbar-nav li {
  list-style: none;
}
#navmenu ul.navbar-nav li.current-menu-ancestor > a {
  color: black !important;
}
#navmenu ul.navbar-nav li a {
  text-decoration: none;
  color: #666666;
}
#navmenu ul.navbar-nav > li {
  position: relative;
  padding: 0 21px;
  border-bottom: 2px solid #666666;
}
#navmenu ul.navbar-nav > li:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
#navmenu ul.navbar-nav > li:first-of-type a {
  padding-left: 0;
}
#navmenu ul.navbar-nav > li:last-of-type {
  margin-right: 0;
  padding-right: 0;
}
#navmenu ul.navbar-nav > li:last-of-type a {
  padding-right: 0;
}
#navmenu ul.navbar-nav > li:hover,
#navmenu ul.navbar-nav > li.current-menu-item {
  border-color: black;
}
#navmenu ul.navbar-nav > li:hover > a,
#navmenu ul.navbar-nav > li.current-menu-item > a {
  color: black;
}
#navmenu ul.navbar-nav > li:hover > ul.sub-menu {
  display: block;
}
#navmenu ul.navbar-nav > li a {
  font-size: 16px;
  padding-bottom: 6px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu {
  padding: 0;
  background: transparent url('../../images/bg-ul-seg-nivel.png') no-repeat top left;
  position: absolute;
  padding-top: 4px;
  margin-top: -4px;
  z-index: 100;
  display: none;
}
#navmenu ul.navbar-nav > li > ul.sub-menu li a {
  font-size: 13px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li {
  background: #b5b7b7;
  padding: 0 14px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li:first-of-type {
  padding-top: 14px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li:last-of-type {
  padding-bottom: 14px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li:hover > a {
  color: black;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li:hover > ul.sub-menu {
  display: block;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu {
  position: absolute;
  padding: 14px;
  top: 4px;
  left: 0;
  background: #b5b7b7;
  padding-left: 100%;
  z-index: -1;
  display: none;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu li {
  border-left: #666666 solid 1px;
  padding-left: 14px;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu li:hover a,
#navmenu ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu li.current-menu-item a {
  color: black;
}
#navmenu ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu li a {
  display: block;
  white-space: nowrap;
  padding-bottom: 2px;
}
/* ----------------------------------------- Header *//* Footer */
/* ----------------------------------------- */
footer#footer {
  background: #000000 url('../../images/footer-linhas.png') center bottom repeat-x;
  background-color: #000000;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 25px;
  display: block;
}
#copyright {
  font-size: 12px;
  padding-top: 35px;
}
/* ----------------------------------------- Footer */